*, *::before, *::after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.reset, .reset * {
    margin: 0;
    padding: 0;
    border: 0; 
}

.word { white-space: nowrap;  }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

.reset ol, .reset ul {
    list-style: none;
}

.reset blockquote, .reset q {
    quotes: none;
}

.reset table, table { 
	width: 100%;
	border-collapse: collapse; 
	border-spacing: 0; }


a:focus, select:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="tel"]:focus, textarea:focus {
 
}

a:active, select:active, input[type="radio"]:active, input[type="checkbox"]:active, input[type="text"]:active, input[type="date"]:active, input[type="password"]:active, textarea:active {
     
}

html, body {
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Poppins;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.5;
	direction: ltr;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

input, select, button, textarea {
    font-size: 1em;
}
 

.reset b, .reset strong { font-weight: bold; }

.reset a { text-decoration: none; } 

i, img, select { vertical-align: middle !important; }

a {
	text-decoration-line:none;
	text-decoration-style:solid;
	color: #5867dd;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

button:hover, 
a:hover { cursor: pointer!important; }

::selection{
    background:#666;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection{
    background:#666;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background:#666;
    color: #FFF;
    text-shadow: none;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,.h1{font-size:2.5rem}
h2,.h2{font-size:2rem}
h3,.h3{font-size:1.75rem}
h4,.h4{font-size:1.5rem}
h5,.h5{font-size:1.25rem}
h6,.h6{font-size:1rem}