<%define "title"%>Formulators<%end%>
<%define "body"%>
<style>
.flip-list-move {
    transition: transform 3s;
}
.kt-portlet__body {
	height: 636px;
}
.table-responsive th::after {
    content: '';
    display: block;
    border-right: 1px solid #ebedf2;
    float: right;
    height: 25px;
}
</style>
<script>
function swap4step (arr) {
	var len = arr.length
	var swap;
	for ( var i = 0 ; i < len ; i += 4 ) {
		if (parseInt(i/4)%2 == 1) {
			var target = arr.splice(i, 4).reverse()
			arr.splice(i, 0, ...target)
		}
	}
}
</script>
<%template "nav_top" .%>
<div class="kt-container  kt-grid__item kt-grid__item--fluid"  v-root-container>
<formualtor>
	<div class="row">
		<div class="col-xl-4 col-lg-4 order-lg-1 order-xl-1">
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Summary
						</h3>
					</div>
				</div>
				<div class="table-responsive kt-portlet__body2">
					<table class="table">
						<colgroup><col width="50%"><col width="50%"></colgroup>
						<tbody>
							<tr>
								<th style="border-top:none;">Block Generator</td>
								<td style="border-top:none;">{{summary.current.Address}}</td>
							</tr>
							<tr>
								<th>Hyper Formulators</td>
								<td>{{summary.Hyper.count}}</td>
							</tr>
							<tr>
								<th></td>
								<td>{{insert_comma(summary.Hyper.amount)}}FLETA</td>
							</tr>
							<tr>
								<th>Omega Formulators</td>
								<td>{{summary.Omega.count}}</td>
							</tr>
							<tr>
								<th></td>
								<td>{{insert_comma(summary.Omega.amount)}}FLETA</td>
							</tr>
							<tr>
								<th>Sigma Formulators</td>
								<td>{{summary.Sigma.count}}</td>
							</tr>
							<tr>
								<th></td>
								<td>{{insert_comma(summary.Sigma.amount)}}FLETA</td>
							</tr>
							<tr>
								<th>Alpha Formulators</td>
								<td>{{summary.Alpha.count}}</td>
							</tr>
							<tr>
								<th></td>
								<td>{{insert_comma(summary.Alpha.amount)}}FLETA</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xl-8 col-lg-8 order-lg-1 order-xl-1">
			<transition-group name="flip-list" tag="div" class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 order-lg-1 order-xl-1 card-col" v-for="item in formulators"  v-bind:key="item.Address">
					<!--begin:: Widgets/Profit Share-->
					<div class="kt-portlet kt-portlet--height-fluid">
						<div class="kt-widget14">
							<div class="kt-widget14__header">
								<a :href="'/formulator/'+item.Address"><h3 class="kt-widget14__title">{{item.Name}}</h3></a>
								<span class="kt-widget14__desc">{{item.Address}}</span>
							</div>
							<div class="kt-widget14__header">
								<a :href="'/formulator/'+item.Address"><h3 class="kt-widget14__title">BlockCount</h3></a>
								<span class="kt-widget14__desc" v-bind:id="'bc'+item.Address"></span>
							</div>
						</div>
					</div>
					<!--end:: Widgets/Profit Share-->
				</div>
			</transition-group>
		</div>
	</div>
<script type="vue">
data: function() {
	var obj = <% marshal .finfo%>;
	if (obj.formulators.length > 0) {
		obj.summary.current = obj.formulators[0]
	}
	return obj;
},
mounted: function() {
	var This = this;
	setInterval(function () {
		var minLen = Math.min(This.formulators.length, 5)
		console.log(minLen)
		
		var data = {}
		for (var i = 0 ; i < minLen ; i++) {
			data["top"+(i+1)] = This.formulators[i].Address
		}

		$.ajax({
			url : "/api/formulators",
			type : "GET",
			data : data,
			success : function (data) {
				This.summary = data.summary
				if (This.formulators.length > 0) {
					This.summary.current = data.formulators[0]
				}
				This.formulators = data.formulators
			}
		});
	}, 5000);

	for (var i = 0 ; i < This.formulators.length ; i ++) {
		$("#bc"+This.formulators[i].Address).html(This.formulators[i].BlockCount)
	}
},
methods: {
	setData : function () {
	}
}
</script>
</formualtor>
</div>
<%end%>
