<%define "title"%>Formulator<%end%>
<%define "body"%>
<style>
.flip-list-move {
    transition: transform 0.5s;
}
.kt-portlet__body {
	height: 636px;
}
</style>
<%template "nav_top" .%>
<div class="kt-container  kt-grid__item kt-grid__item--fluid" v-root-container>
<formualtor>
	<div class="row">
		<div class="col-xl-4 col-lg-4 order-lg-1 order-xl-1">
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Summary
						</h3>
					</div>
				</div>
				<div class="table-responsive kt-portlet__body2">
					<table class="table">
						<colgroup><col width="50%"><col width="50%"></colgroup>
						<tbody>
							<tr>
								<th style="border-top:none;">Name</td>
								<td style="border-top:none;">{{fd.Name}}</td>
							</tr>
							<tr>
								<th>Address</td>
								<td>{{fd.Addr}}</td>
							</tr>
							<tr>
								<th>Formulator Type</td>
								<td>{{fd.FormulatorType}}</td>
							</tr>
							<tr>
								<th>Create Block</td>
								<td>{{insert_comma(fd.CreateBlock)}}</td>
							</tr>
							<tr>
								<th>Staking Amount</td>
								<td>{{insert_comma(fd.StakingAmount)}}</td>
							</tr>
							<tr>
								<th>Generate Blocks</td>
								<td>{{insert_comma(fd.GenerateBlocks)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">
			<!--begin:: Widgets/Tasks -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Reward</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="kt-widget2">
						<div class="kt-widget2__item kt-widget2__item--vaultCreateAccount"  v-for="item in data">
							<div class="kt-widget2__checkbox">
								<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
									<input type="checkbox">
									<span></span>
								</label>
							</div>
							<div class="kt-widget2__info">
								<a href="#" class="kt-widget2__title">
									Make Widgets Development. Estudiat Communy Elit
								</a>							 
								<a href="#" class="kt-widget2__username">
									By Aziko
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Tasks -->
		</div>
		<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">
			<!--begin:: Widgets/Tasks -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Block</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="kt-widget2">
						<div class="kt-widget2__item kt-widget2__item--vaultCreateAccount"  v-for="item in data">
							<div class="kt-widget2__checkbox">
								<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
								<input type="checkbox">
								<span></span>
								</label>
							</div>

							<div class="kt-widget2__info">
								<a href="#" class="kt-widget2__title">
									Make Widgets Development. Estudiat Communy Elit
								</a>
								<a href="#" class="kt-widget2__username">
									By Aziko
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Tasks -->
		</div>
	</div>
<script type="vue">
data: function() {
	var obj = {
		fd : <% marshal .fd%>,
		formulators : [{addr:"addrs1", name:"WBL1"},{addr:"addrs2", name:"WBL2"},{addr:"addrs3", name:"WBL3"},{addr:"addrs4", name:"WBL4"},{addr:"addrs5", name:"WBL5"},{addr:"addrs6", name:"WBL6"}]
	};
	return obj;
},
mounted: function() {
},
methods: {
	test : function () {
		var index = Math.floor(Math.random() * (this.formulators.length-1))+1
		console.log(index)
		this.formulators.splice(index, 0, this.formulators.splice(0,1)[0]); 
	},
	add : function () {
		this.formulators.push({addr:"test"+this.formulators.length, name:"test!"+this.formulators.length})
	}
}
</script>
</formualtor>
</div>
<%end%>
