<%define "body"%>
<%template "search_top" .%>
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
			<!--Begin::Dashboard 1-->
	<!--Begin::Row-->
<div v-root-container>
<top-summary>
	<div class="row">
		<div class="col-xl-4 col-lg-4 order-lg-1 order-xl-1">
				<!--begin:: Widgets/Profit Share-->
			<div class="kt-portlet kt-portlet--height-fluid">
				<div class="kt-widget14">
					<div class="kt-widget14__header">
						<h3 class="kt-widget14__title">Height</h3>
						<span class="kt-widget14__desc">{{insert_comma(summary.height)}}</span>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Profit Share-->
		</div>
		<div class="col-xl-4 col-lg-4 order-lg-1 order-xl-1">
				<!--begin:: Widgets/Profit Share-->
			<div class="kt-portlet kt-portlet--height-fluid">
				<div class="kt-widget14">
					<div class="kt-widget14__header">
						<h3 class="kt-widget14__title">Formulators</h3>
						<span class="kt-widget14__desc">{{insert_comma(summary.formulator_count)}}</span>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Profit Share-->
		</div>
		<div class="col-xl-4 col-lg-4 order-lg-1 order-xl-1">
				<!--begin:: Widgets/Profit Share-->
			<div class="kt-portlet kt-portlet--height-fluid">
				<div class="kt-widget14">
					<div class="kt-widget14__header">
						<h3 class="kt-widget14__title">Transactions</h3>
						<span class="kt-widget14__desc">{{insert_comma(summary.tx_count)}}</span>
					</div>
					<div class="kt-widget14__content">
					</div>
				</div>
			</div>
		<!--end:: Widgets/Profit Share-->
		</div>
	</div>
	<script type="vue">
		data: function() {
			var obj = {
				summary : <% marshal .summary%>
			};
			return obj;
		},
		mounted: function() {
			var This = this
			setInterval( function () {
				This.$http.get("/api/datas/mainsummary", {
				}).then(function(res) {
					This.summary = res.body
				});
			}, 3000);
		},
		methods: {
		}
	</script>
	</top-summary>
</div>
<div class="row" v-root-container>
<transactions>
	<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--Begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Transactions
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body" style="height: 600px;">
				<!--Begin::Timeline 3 -->
				<div class="kt-timeline-v2">
					<div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
						<div class="kt-timeline-v2__item" v-for="item in txs">
							<span class="kt-timeline-v2__item-time">{{getTime(item.timestamp)}}</span>
							<div class="kt-timeline-v2__item-cricle">
								<i class="fa fa-genderless kt-font-success"></i>
								<i class="fa fa-genderless kt-font-brand"></i>
								<i class="fa fa-genderless kt-font-warning"></i>
								<i class="fa fa-genderless kt-font-info"></i>
								<i class="fa fa-genderless kt-font-danger"></i>
							</div>
							<div class="kt-timeline-v2__item-text kt-timeline-v2__item-text--bold">{{getLastPart(item.name)}} <a v-bind:href="'tx/'+item.txid">({{item.txid}})</a></div>
						</div>
					</div>
				</div>
				<!--End::Timeline 3 -->
			</div>
		</div>
		<!--End::Portlet-->
	</div>
	<script type="vue">
		data: function() {
			var obj = {
				txs : <% marshal .txs%>,
			};
			return obj;
		},
		mounted: function() {
			var This = this
			setInterval( function () {
				This.$http.get("/api/datas/lasttxs", {
				}).then(function(res) {
					This.txs = res.body
				});
			}, 3000);
		},
		methods: {
			getTime : function (time) {
				var t = new Date(time/1000000);
				return ("0"+t.getHours()).slice(-2)+":"+("0"+t.getMinutes()).slice(-2)
			},
			getLastPart : function (str, split_token) {
				if (typeof split_token !== "string") {
					split_token = "/"
				}
				var strs = str.split(split_token)
				str = strs[strs.length-1]
				return str;
			},
		}
	</script>
</transactions>
<blocks>
	<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--Begin::Portlet-->
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Blocks
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="kt-widget2">
					<div class="kt-widget2__item kt-widget2__item--none kt-widget2__item--blocks kt-widget2__item--success" v-for="item in blocks">
						<div class="kt-widget2__info">
							<a v-bind:href="'/block/' +item.height " class="kt-widget2__title">
								{{item.height}}({{item.hash}})
							</a>
							<p class="kt-widget2__username">
								{{item.generator}}
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--End::Portlet-->
	</div>
	<script type="vue">
		data: function() {
			var obj = {
				blocks : <% marshal .blocks%>,
			};
			return obj;
		},
		mounted: function() {
			var This = this
			setInterval( function () {
				This.$http.get("/api/datas/lastblocks", {
				}).then(function(res) {
					This.blocks = res.body
				}, function(err) {
				});
			}, 3000);
		},
		methods: {
		}
	</script>
</blocks>
<chart-ares>
	<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--begin:: Widgets/Inbound Bandwidth-->
		<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder kt-portlet--height-fluid-half">
			<div class="kt-portlet__head kt-portlet__space-x">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Transaction Type per Second
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fluid">
				<div class="kt-widget20" >
					<div id="fleta-Transactions" style="height:240px;">
					</div>
				</div>
			</div>
		</div>
		<!--end:: Widgets/Inbound Bandwidth-->		<div class="kt-space-20"></div>
				<!--begin:: Widgets/Outbound Bandwidth-->
		<div class="kt-portlet kt-portlet--fit kt-portlet--head-noborder kt-portlet--height-fluid-half">
			<div class="kt-portlet__head kt-portlet__space-x">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Outbound Bandwidth
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fluid">
				<div class="kt-widget20">
					<div class="kt-widget20__content kt-portlet__space-x">
						<span class="kt-widget20__number kt-font-danger">1340+</span>
						<span class="kt-widget20__desc">Completed orders</span>
					</div>
					<div class="kt-widget20__chart" style="height:130px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
						<canvas id="kt_chart_bandwidth2" width="626" height="130" class="chartjs-render-monitor" style="display: block; width: 626px; height: 130px;"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!--end:: Widgets/Outbound Bandwidth-->
	</div>
	<script type="vue">
		data: function() {
			var obj = {
				chart : new lineChart(),
			};
			obj.chart.target = "fleta-Transactions";
			obj.chart.color = "#fd4004";
			obj.chart.dataUrl = "/api/datas/transactions";
			obj.chart.tooltipPrefix = "Txs : ";
			obj.chart.m = {top: 5, right: 20, bottom: 20, left: 20};
			obj.chart.height = 220;
			return obj;
		},
		mounted: function() {
			var This = this;
			This.chart.draw();
			setInterval( function () {
				This.chart.draw();
			}, 3000);
		},
		methods: {
		}
	</script>
</chart-ares>
</div>
</div>
<%end%>
