<%define "body"%>
<style>
.login-wrapper {
	width: 400px;
	height: 300px;
	margin: auto;
	left: 0;
	right: 0;
	margin-top: 200px;
}
.login-wrapper input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	padding: 15px;
	margin-top: 15px;
	border: solid 1px #dddddd;
}
.login-wrapper .btn-login {
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0;
    border: 1px solid #e3e8ed;
	background: #3cb878 !important;
	color: white;
}
</style>
<div v-root-container>
	<login>
<div id="container" class="expand clearfix">
	<div class="login-wrapper">
		<div class="title-area">
			<h2 class="title">로그인</h2>
		</div>
		<div class="input-area">
			<input type="text" placeholder="아이디" data-vv-rules="email" v-model="login_id" name="userid" class="id">
			<input type="password" placeholder="패스워드" name="password" v-model="login_password" class="passwd">
			<p class="err_msg"></p>
			<input type="button" v-on:click="login" value="로그인" class="btn btn-login btn-green btn-full">
		</div>
	</div>
</div>
<script type="vue">
data: function() {
	var obj = {
		login_id : "",
		login_password : "",
	};
	return obj;
},
mounted: function() {
},
methods: {
	login: function() {
		$(".err_msg").html("").hide()
		this.$http.post("/api/login", {
			user_id: this.login_id,
			password: this.login_password
		}).then(function(res) {
			location.href="/";
		}, function(err) {
			$(".err_msg").html(err.body).show("fast")
		});
	},
}
</script>
	</login>
</div>	
<%end%>
