<%define "bodyClass"%>page-404<%end%>
<%define "body"%>
<main id="main" class="site-main">
	<section class="page-title" style="background-image: url(/assets/images/placeholder/blog-banner.jpg);">
		<div class="container">
			<h1>Error!</h1>
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li><a href="#">Pages</a></li>
				<li class="current">Error</li>
			</ul>
		</div><!-- .container -->
	</section><!-- .page-title -->

	<div class="container">
		<div class="error-content">
			<h3>ohh! page not found</h3>
			<div class="error-desc">It seems we can’t find what you’re looking for. Perhaps searching can help or go back to <a href="index.html">Homepage.</a></div>
		</div>
	</div><!-- .container -->
</main><!-- .site-main -->
<%end%>