<%define "title"%>Transaction<%end%>
<%define "body"%>
<style>
.flip-list-move {
    transition: transform 0.5s;
}
.kt-portlet__body {
	height: 636px;
}
.kt-portlet__body2 {
	height: 278px;
}
input, textarea, select {
	border: solid 0px black;
	resize: none;
	font-weight: bold;
}
label[for] {
	color: black;
}
[disabled] {
	background: white !important;
	text-align: right;
    text-align-last: right;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.datepicker {
	width: 162px;
}
</style>

<%template "nav_top" .%>
<main id="main" class="site-main"  v-root-container>
<formualtor>
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
	<div class="row">
		<div class="col-lg-3 col-xl-3 order-lg-1 order-xl-1">
			<!--begin:: Widgets/Tasks -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Transaction</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="kt-widget2">
						<div class="kt-widget2__item kt-widget2__item--none"  v-for="value, key in txSummary">
							<div class="kt-widget2__info">
								<a href="#" class="kt-widget2__title">
									{{key}}
								</a>
								<a href="#" class="kt-widget2__username">
									{{dataConvert(key, value)}}
								</a>
							</div>
						</div>
						<div class="kt-widget2__item kt-widget2__item--none"  v-for="value, key in txDetail" v-if="key != 'data' && key != 'timestamp' && key != 'from' && key != 'from'">
							<div class="kt-widget2__info">
								<a href="#" class="kt-widget2__title">
									{{key}}
								</a>
								<a href="#" class="kt-widget2__username">
									{{dataConvert(key, value)}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Tasks -->
		</div>
		<div class="col-lg-9 col-xl-9 order-lg-1 order-xl-1">
			<!--begin:: Widgets/Tasks -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Data</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<h2 class="kt-portlet__title">Changes current transaction</h2>
					<div class="kt-widget2">
						<div class="kt-widget2__item kt-widget2__item--none"  v-for="value, key in txDetail">
							<div class="kt-widget2__info">
								<a href="#" class="kt-widget2__title">
									{{key}}
								</a>
								<a href="#" class="kt-widget2__username">
									{{dataConvert(key, value)}}
								</a>
							</div>
						</div>
						<table class="diff-table">
							<thead>
								<tr>
									<th style="width:30%;">항목</th>
									<th style="width:10%;">유형</th>
									<th style="width:30%;">이전값</th>
									<th style="width:30%;">현재값</th>
								</tr>
							</thead>
							<tbody v-if="is_first">
								<tr>
									<td colspan="4">
										최초 입력입니다.
									</td>
								<tr/>
							</tbody>
							<tbody v-else>
								<tr v-for="vs in diffs">
									<td v-on:click="move_to(vs[0])"><div class="btn btn-info" style="width:95%; padding: 8px; margin: 2px; word-break:break-all; white-space:pre-wrap;">{{vs[1]}}</div></td>
									<td>{{get_diff_type(vs)}}</td>
									<td v-bind:style="{'vertical-align': vs[4] == 'multi' ? 'top' : ''}" v-html="vs[2]"></td>
									<td v-bind:style="{'vertical-align': vs[4] == 'multi' ? 'top' : ''}" v-html="vs[3]"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h2 class="kt-portlet__title">Data of current transaction</h2>
					<div class="kt-widget2" id="update_tx_form">
						<% .html %>
					</div>
				</div>
			</div>
			<!--end:: Widgets/Tasks -->
		</div>
	</div>
</div>
<script type="vue">
data: function() {
	var obj = {
		txSummary : <% marshal .txSummary %>,
		from : <% marshal .from %>,
		diffs : <% marshal .diffs %>,
		is_first : <% .is_first %>,
		txDetail : <% marshal .txDetail %>,
	};
	for(var i=0; i<obj.diffs.length; i++) {
		var vs = obj.diffs[i];
		vs.push(vs[2].indexOf("<hr/>") >= 0 || vs[3].indexOf("<hr/>") >= 0 ? "multi" : "");
	}
	return obj;
},
mounted: function() {
	var _this = this;
	setTimeout(function() {
		$("[item='item-i-10403']").each(function() {
			var jTarget = $(this).parent();
			jTarget.find("[item='item-i-10403']").detach().children().appendTo(jTarget.find("[item='item-i-10402']"));
			jTarget.find("[item='item-i-10405']").detach().children().appendTo(jTarget.find("[item='item-i-10404']"));
		});
		$("[groupid='g-103']").find("input.form-item, select").css("width", "80px");
		$("[groupid='g-103']").find(".date-wrapper").css("width", "170px");
		$("[groupid='g-104']").find("thead th").eq(6).detach();
		$("[groupid='g-104']").find("thead th").eq(4).detach();
		$("[groupid='g-104']").find("input.form-item, select").css("width", "80px");
		$("[groupid='g-104']").find("textarea").css("width", "160px");
		$("[groupid='g-107']").find(".date-wrapper").css("width", "290px");
		$("[groupid='g-110']").find(".radio_button").css("width", "60px");
		$("[groupid='g-301']").find(".date-wrapper").css("width", "120px");
		$("[name='i-30102_0']").css("width", "140px");
		$("[name='i-30106_0']").css("width", "140px");
		
		for(var i=0; i<_this.diffs.length; i++) {
			var key = _this.diffs[i][0];
			var jObj = $(".form-grp [name='" + key + "']").parent();
			if(jObj.hasClass("radio_button") || jObj.hasClass("date-wrapper")) {
				jObj = jObj.parent();
			}
			jObj.css("border", "solid 2px red");
			if(vs[2].length == 0) {
				jObj.attr("title", "[추가]");
			} else if(vs[3].length == 0) {
				jObj.attr("title", "[삭제된 값]\n" + vs[2].split("<hr/>").join("\n"));
			} else {
				jObj.attr("title", "[변경전 값]\n" + vs[2].split("<hr/>").join("\n"));
			}
		}
	});
},
methods: {
	move_to: function(key) {
		$("#update_tx_form").parent().scrollTop($("#update_tx_form").parent().scrollTop() + $(".form-grp [name='" + key + "']").eq(0).parent().offset().top - 200);
	},
	get_diff_item_name: function(itemid) {
		console.log(itemid);
	},
	get_diff_type: function(vs) {
		if(vs[2].length == 0) {
			return "추가";
		} else if(vs[3].length == 0) {
			return "삭제";
		} else {
			return "변경";
		}
	},
	dataConvert : function (key, value) {
		if ((key+"").toLowerCase().indexOf("timestamp") >= 0) {
			console.log((key+"").toLowerCase() + " : " +(key+"").toLowerCase().indexOf("timestamp"))
			var date = new Date(value/1000000);
			return date.toString()
		}
		return value
	},
}
</script>
</formualtor>


</main><!-- .site-main -->
<%end%>
