<%define "email.html"%>
<html>
<head>
	<title></title>
</head>
<body>

	<table border="0" cellpadding="0" cellspacing="0" style="width:890px;border-collapse:separate;border-spacing: 0px;">
	<tbody>
		<tr>
			<td><a href="https://www.fleta.io/" target="_blank"><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_1.png" style="width: 890px; height: 70px;" /></a></td>
		</tr>
		<tr>
			<td><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_2.png" style="width: 890px; height: 998px;" /></td>
		</tr>
		<tr>
			<td><a href="https://www.fleta.io/" target="_blank"><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_3.png" style="width: 890px; height: 59px;" /></a></td>
		</tr>
		<tr>
			<td><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_4-1.png" style="width: 890px; height: 1594px;" /></td>
		</tr>
		<tr>
			<td><a href="https://beyondblocks.com/summit-bangkok-principal-sponsor-fleta/" target="_blank"><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_4-2.png" style="width: 890px; height: 85px;" /></a></td>
		</tr>
		<tr>
			<td><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_4-3.png" style="width: 890px; height: 83px;" /></td>
		</tr>
		<tr>
			<td><a href="mailto:hello@firstchain.co"><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_5.png" style="width: 890px; height: 40px;" /></a></td>
		</tr>
		<tr>
			<td><img alt="" src="https://fleta.io/email/fleta_newsletter_20181109_6.png" style="width: 890px; height: 326px;" /></td>
		</tr>
	</tbody>
</table>
</body>
</html>
<%end%>