<%define "headScript"%>
<script>
    jQuery(document).ready(function(){
        DashboardTransactionsChart.init()
        CurrentChainInfoAjax.init()
        LastestBlocksAjax.init()
        LastestTransactionsAjax.init()
    });
</script>
<%end%>

<%define "pageTitle"%>Dashboard<%end%>

<%define "FooterIncludeScript"%>
    <script src="/resource/js/common.js"></script>
    <script src="/resource/js/dashboardTopChart.js"></script>
    <script src="/resource/js/currentChainInfo.js"></script>
    <script src="/resource/js/transactionTypePerBlockAjax.js"></script>
    <script src="/resource/js/lastestBlock.js"></script>
    <script src="/resource/js/lastestTransactions.js"></script>
<%end%>

<%define "fletaBody"%>
    <div class="portlet">
        <div class="row row-col-separator">
            <div class="col-xl-4">

                <div class="widget1">
                    <div class="widget1_item">
                        <div class="row no-margin-row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Formulators</h3>
                                <span class="widget1_desc">Total number of formulators in current time </span>
                            </div>
                            <div class="col align-right">
                                <span class="widget1_number" id="total_formulators">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row no-margin-row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Blocks</h3>
                                <span class="widget1_desc">Number of blocks created so far</span>
                            </div>
                            <div class="col align-right">
                                <span class="widget1_number" id="total_blocks">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row no-margin-row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Transactions</h3>
                                <span class="widget1_desc">Number of transactions issued so far</span>
                            </div>
                            <div class="col align-right">
                                <span class="widget1_number" id="total_transactions">-</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">

                <div class="widget2">
                    <div class="widget2_header">
                        <h3 class="widget2_title">
                            Transaction Type per Second<span id="maximumTps"><%index . "MaximumTps"%></span>
                        </h3>
                        <span class="widget2_desc">
                            Account, UTXO, Smart Contract, etc.
                        </span>
                    </div>
                    <div id="fleta-Transactions" style="height:200px;">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="portlet">
                <div class="portlet_head">
                    <h3 class="portlet_head-text">
                        Lastest Blocks
                    </h3>
                </div>
                <div class="portlet_body">
                    <table class="table fleta-table" id="fleta_blocks">
                        <thead>
                            <tr>
                                <th>Block Height</th>
                                <th><span >Block Hash</span></th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Txs</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">

            <div class="portlet fleta-m-portlet">
                <div class="portlet_head">
                    <h3 class="portlet_head-text">
                        Lastest Transactions
                    </h3>
                </div>
                <div class="portlet_body">
                    <div class="timeline-3">
                        <div class="timeline-3_items" id="fleta-lastest-transactions">
                            <div class="timeline-3_item Withdraw">
                                <span class="timeline-3_item-time" title="2019-01-29 04:02:46">09:00</span>
                                <div class="timeline-3_item-desc">
                                    <a href="/transactionDetail/?hash=7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce" target="_BLANK" id="tx-hash-atag">
                                    <span class="timeline-3_item-text">7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce</span></a><br>
                                    <span class="timeline-3_item-user-name">Withdraw</span>
                                </div>
                            </div>
                            <div class="timeline-3_item CreateAccount">
                                <span class="timeline-3_item-time" title="2019-01-29 04:02:46">09:00</span>
                                <div class="timeline-3_item-desc">
                                    <a href="/transactionDetail/?hash=7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce" target="_BLANK" id="tx-hash-atag">
                                    <span class="timeline-3_item-text">7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce</span></a><br>
                                    <span class="timeline-3_item-user-name">CreateAccount</span>
                                </div>
                            </div>
                            <div class="timeline-3_item Burn">
                                <span class="timeline-3_item-time" title="2019-01-29 04:02:46">09:00</span>
                                <div class="timeline-3_item-desc">
                                    <a href="/transactionDetail/?hash=7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce" target="_BLANK" id="tx-hash-atag">
                                    <span class="timeline-3_item-text">7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce</span></a><br>
                                    <span class="timeline-3_item-user-name">Burn</span>
                                </div>
                            </div>
                            <div class="timeline-3_item Transfer">
                                <span class="timeline-3_item-time" title="2019-01-29 04:02:46">09:00</span>
                                <div class="timeline-3_item-desc">
                                    <a href="/transactionDetail/?hash=7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce" target="_BLANK" id="tx-hash-atag">
                                    <span class="timeline-3_item-text">7358451502d01af7e0c80061c75455b548ced4a7a14841b41a7452a62be8b3ce</span></a><br>
                                    <span class="timeline-3_item-user-name">Transfer</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-3-item-template" id="transactions-item-template">
                            <div class="timeline-3_item">
                                <span class="timeline-3_item-time" id="tx-time">09:00</span>
                                <div class="timeline-3_item-desc">
                                    <a target="_BLANK" id="tx-hash-atag"><span class="timeline-3_item-text" id="tx-hash">
                                        ...
                                    </span></a><br>
                                    <span class="timeline-3_item-user-name" id="tx-type"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="portlet">
                <div class="portlet_head">
                    <h3 class="portlet_head-text">
                        Observers
                    </h3>
                </div>
                <div class="portlet_body">
                    <table class="table fleta-table" id="fletaObservers">
                        <thead>
                            <tr>
                                <th>Height</th>
                                <th>Formulator</th>
                                <th>Observer 1</th>
                                <th>Observer 2</th>
                                <th>Observer 3</th>
                                <th>Observer 4</th>
                                <th>Observer 5</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="portlet fleta-m-portlet">
                <div class="portlet_head">
                    <h3 class="portlet_head-text">
                        Formulator
                    </h3>
                </div>
                <div class="portlet_body">
                    <table class="table fleta-table" id="fletaFormulrator">
                        <thead>
                            <tr>
                                <th>Height</th>
                                <th>Formulator</th>
                                <th>Block Count</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

<%end%>