<%define "fletaBody"%>
<pre>
Privacy Policy
We value your comments, suggestions and feedback. Our Privacy Policy sets out how we collect, use and disclose “personal information” and other “non personal information” we have gathered about you.

1. What is Personal Information and What are collected?
‘Personal Information’ is information or an opinion that identifies you as an individual. We collect data to enable us to operate the Game effectively, and to provide you with the best experiences on our website and our Game. We get some of your data by recording how you interact with our website and our game by, for example, using technologies like cookies.

You have choices about the data we collect. When you are asked to provide personal data, you may decline. But if you choose not to provide data that is necessary to enable us to make the Game available to you, you may not be able to sign up for or play the Game. The data we collect can include the following:

Ethereum wallet address. We may collect your wallet address.

Device and Usage information. We may collect data about your device and how you and your device interact with our Game. For example, we may collect your feature usage patterns, location data, and your interactions with us. We may also collect data about your device and the network you use to connect to our Game; this may include data such as your IP address, browser type, operating system, and referring URLs.
2. What do we use your information for?
We use the data we collect to operate our business, and to make the Game available to you. This includes using the data to improve our Game, and to personalize your experiences.

3. Collection of other ‘Non-Personal’ Information
We do not collect any ‘Non-Personal’ Information on the game. 
4. Policy Updates
This Policy may change from time to time. We will always keep this up to date so that you know what information we will collect from you, how we may use it, and when we may disclose it.

5. Complaints
You can lodge a complaint with us about any breach of our Privacy Policy at the address below.

6. Privacy Policy Contact Information
If you have any questions about our Privacy Policy, please contact us at: indev@firstchain.co


개인 보호 정책
우리는 여러분의 의견, 제안 및 반응을 소중하게 여깁니다. 아래에서 여러분에 관해 수집한 “개인 정보” 및 다른 “비 개인 정보”를 수집, 사용 및 공개하는 방법에 대해 설명합니다.

1. 어떤 것이 개인 정보이며 무엇이 수집되는가?
‘개인 정보’란 특정 개인에게 속하는 고유 정보나 견해를 의미합니다. 우리는 게임을 효과적으로 운영하고 웹 사이트 및 게임에서 최상의 경험을 제공 할 수 있도록 데이터를 수집합니다. 당사는 귀하가 웹 사이트 및 게임과 상호 작용하는 방식을 쿠키와 같은 기술을 사용하여 데이터를 얻습니다.

수집하는 데이터에 대한 선택권이 있습니다. 개인 정보를 제공하라는 요청을 받으면 거부 할 수 있습니다. 그러나 귀하가 게임을 사용할 수 있도록하기 위해 필요한 데이터를 제공하지 않기로 선택하는 경우 귀하는 게임에 가입하거나 게임을 할 수 없습니다. 수집하는 데이터에는 다음이 포함될 수 있습니다.

이더리움 지갑 주소. 우리는 귀하의 지갑 주소를 수집 할 수 있습니다.

장치 및 사용 정보. 당사는 귀하의 장치에 관한 데이터 및 귀하와 귀하의 장치가 당사의 게임과 어떻게 상호 작용 하는지를 수집 할 수 있습니다. 예를 들어, 귀하의 기능 사용 패턴, 위치 데이터 및 귀하와의 상호 작용을 수집 할 수 있습니다. 우리는 게임에 연결하기 위해 사용하는 장치와 네트워크에 관한 데이터를 수집 할 수도 있습니다. 여기에는 IP 주소, 브라우저 유형, 운영 체제 및 참조 URL과 같은 데이터가 포함될 수 있습니다.
2. 귀하의 정보는 무엇을 위해 사용합니까?
우리는 수집 한 데이터를 사용하여 비즈니스를 운영하고 게임을 제공합니다. 여기에는 게임을 개선하고 경험을 개인화하기 위해 데이터를 사용하는 것이 포함됩니다.

3. 기타 ‘비 개인’ 정보의 수집
게임에서는 따로 유저의 '비 개인'정보를 수집하지 않습니다.

4. 정책 업데이트
이 정책은 수시로 변경 될 수 있습니다. 저희는 귀하로부터 어떤 정보를 수집하는지, 어떻게 사용하는지, 어떤 경우에 공개하는지에 관해 귀하가 알 수 있도록 이 버전을 항상 최신 것으로 유지할 것입니다.

5. 민원
귀하는 아래의 연락처로 개인 정보 보호 정책 위반에 대해 민원을 제기할 수 있습니다.

6. 개인 정보 보호 정책 관련 연락처
개인 정보 보호 정책에 관한 질문이 있을 경우, 다음으로 저희에게 연락하시기 바랍니다: indev@firstchain.co
</pre>
<%end%>