<%define "fletaBody"%>
<pre>
Fleta City Simulation Terms and Conditions of Use
The terms and conditions of use shown here set forth the terms between Fleta Beta testnet(hereinafter referred to as the"Company")and users(hereinafter referred to as the"User"or"Users"depending upon context) of any services or features of Fleta City Simulation(hereinafter referred to as the"Service"), which is provided by the Company.

1. Agreement to Terms and Conditions
1.1 All Users shall use the Service in accordance with the terms stated in the Terms and Conditions. Users may not use the Service unless they agree to the Terms and Conditions. Such agreement is valid and irrevocable.
1.2. By actually using the Service, Users are deemed to have agreed to the Terms and Conditions. Such agreement is valid and irrevocable.
2. Modification of the Terms and Conditions
The Company may modify the Terms and Conditions or Separate Terms and Conditions when the Company deems necessary, without providing prior notice to Users. The modification will become effective once the modified Terms and Conditions or Separate Terms and Conditions are posted on an appropriate location within the website operated by the Company. Users shall be deemed to have granted valid and irrevocable consent to the modified Terms and Conditions or Separate Terms and Conditions by continuing to use the Service. Users shall refer to the Terms and Conditions on a regular basis when using the Service, since a separate notification regarding the modification to Terms and Conditions may not be provided.

3. Privacy
3.1. Ethereum wallet adderess will be collected to use this service.
3.2. The Company does not collect any other person's personal information.

4. Provision of the Service
4.1. Users shall supply the necessary PC, mobile phone device, communication device, operating system, and data connection necessary for using the Service under Users'own responsibility and at Users'own expense.
4.2. The Company reserves the right to limit access to the whole or part of the Service depending upon conditions that the Company considers necessary, such as age, identification, current membership status, and the like.
5. Restrictions
Users shall not engage in the following when using the Service.
5.1. Activities that violate the law, court verdicts, resolutions or orders, or administrative measures that are legally binding.
5.2. Activities that infringe intellectual property rights, such as copyrights, trademarks and patents, fame, privacy, and all other rights of the Company and/or a third party granted by the law or contract.
5.3. Activities that lead to the misrepresentation of the Company and/or a third party, or intentionally spread false information
5.4. Activities that interfere with the servers and/or network systems of the Service;that abuse the Service by means of cheat tools, or other technical measures;that deliberately use defects of the Service;that make unreasonable inquires and/or undue claims such as repeatedly asking the same question beyond the necessity, and that interfere with the Company's operation of the Service or Users'use of the Service.
5.5. Activities that aid or encourage any activity stated in Clauses 1 to 4 above.
5.6. Other activities that are deemed by the Company to be inappropriate.
6. User Responsibility
6.1. Users shall use this Service at his/her own risk, and shall bear all responsibility for actions carried out and their results upon this Service
6.2. The Company may take measures that the Company considers necessary and appropriate, if the Company acknowledges that a User is using the service in a way which violates the Terms and Conditions. However, the Company shall not be responsible for correcting or preventing such violation towards Users or others
7. The Company's Exemption of Liability
7.1. You accept the inherent security risks of providing information and dealing online over the internet, and agree that we have no liability or responsibility for any breach of security unless it is due to our gross negligence.
8. Notification and Contact
8.1. When the Company notifies or contacts Users regarding the Service, the Company may use a method that the Company considers appropriate, such as posting on the website operated by the Company.
8.2. When Users notifies or contacts the Company in regard to the Service, Users shall use the customer inquiry form available on the website operated by the company or other means designated by the Company.


Fleta City Simulation 이용약관
본 약관은 Fleta Beta testnet이 제공하는 Fleta City Simulation에 관한 모든 제품 및 서비스의 이용에 관한 조건에 대해 본 서비스를 이용하는 고객과 당사간에 정하는 것입니다.

1. 약관 동의
1.1 고객은 본 약관의 규정에 따라 본 서비스를 이용해야 합니다. 고객은 본 약관에 대해 유효하고 취소 불가능한 동의를 했을 경우에 한하여 본 서비스를 이용할 수 있습니다.
1.2. 고객은 본 서비스를 실제로 이용함으로써 본 약관에 대해 유효하고 취소 불가능한 동의를 한 것으로 간주됩니다.
2. 약관 변경
필요하다고 당사에서 판단할 경우, 당사는 고객에 대한 사전 통지 없이 언제라도 본 약관 및 개별 이용약관을 변경할 수 있습니다. 변경 후의 본 약관 및 개별 이용약관은 당사가 운영하는 웹사이트 내의 적절한 장소에 게시된 시점부터 그 효력이 발생하며, 본 약관 및 개별 이용약관이 변경된 후에도 고객이 본 서비스를 계속 이용함으로써 변경 후의 본 약관 및 적용된 개별 이용약관에 대해 유효하고 취소 불가능한 동의를 한 것으로 간주됩니다. 이러한 변경 내용은 고객에게 개별적으로 통지할 수 없기 때문에, 본 서비스를 이용할 때에는 수시로 최신의 본 약관 및 적용된 개별 이용약관을 참조하시기 바랍니다.

3. 프라이버시
3.1. 본 서비스를 이용하기 위해서 Ethereum wallet adderess가 수집됩니다.
3.2. 수집된 address는 게임내에서 공개 되지 않습니다.
3.3. 당사는 이 외의 고객의 개인정보를 수집하지 않습니다.

4. 서비스 제공
4.1. 고객은 본 서비스를 이용하는 데 있어 필요한 PC나 휴대전화 단말기, 통신 기기, 운영 체제, 통신 수단 및 전력 등을 고객의 비용과 책임 하에 준비해야 합니다.
4.2. 당사는 필요하다고 판단될 경우, 고객에 대한 사전 통지 없이 언제라도 본 서비스의 전부 또는 일부 내용을 변경할 수 있으며 또한 그 제공을 중지할 수 있습니다.
5. 금지 사항
고객은 본 서비스 이용 중 다음에 기재된 행위를 해서는 안 됩니다.
5.1. 법령, 법원의 판결, 결정 혹은 명령 또는 법령상 구속력을 가지는 행정 조치에 위반되는 행위.
5.2. 당사 또는 제삼자의 저작권, 상표권, 특허권 등의 지적재산권, 명예권, 프라이버시권, 기타 법령상 또는 계약상의 권리를 침해하는 행위.
5.3. 당사 또는 제삼자를 사칭하는 행위 또는 의도적으로 허위 정보를 유포하는 행위.
5.4. 본 서비스의 서버와 네트워크 시스템에 지장을 주는 행위, 기술적인 수단을 이용하여 서비스를 불법으로 조작하는 행위, 본 서비스의 장애를 의도적으로 이용하는 행위.
5.5. 상기 5.1.부터 5.4까지의 어느 하나에 해당되는 행위를 원조 또는 조장하는 행위.
5.6. 기타 부적당하다고 당사가 판단한 행위.
6. 고객의 책임
6.1. 고객은 고객 자신의 책임 하에 본 서비스를 이용해야 하며, 본 서비스에서 이루어진 모든 행위 및 그 결과에 대해서 일체의 책임을 져야 합니다.
6.2. 당사는 고객이 본 약관에 위반되는 형태로 본 서비스를 이용하고 있다고 인정한 경우, 당사에서 필요하고 적절하다고 판단한 조치를 취하겠습니다. 단, 당사는 이러한 위반 행위를 방지 또는 시정할 의무를 갖지 않습니다.
7. 당사 면책
7.1. 귀하는 인터넷을 통해 정보를 제공하고 온라인으로 거래하는 내재된 보안 위험을 받아들이고, 중대한 과실로 인한 것이 아니라면 보안 위반에 대한 책임이나 책임이 없다는 데 동의합니다.
8. 연락 방법
8.1. 본 서비스와 관련해 당사가 고객에게 연락을 할 때는 당사가 운영하는 웹사이트 내의 적당한 장소에 게시하거나 기타 당사가 적당하다고 판단하는 방법으로 합니다.
8.2. 본 서비스와 관련해 고객이 당사에 연락을 할 때는 당사가 운영하는 웹사이트 내의 적당한 장소에 설치된 고객문의 페이지에서 신하거나 당사가 지정하는 방법으로 합니다.
</pre>
<%end%>