.kt-portlet__title {
	color: #48465b;
}

#update_tx_form .btn.radio_button {
	color: black;
	border: solid 1px black;
	margin-right: 4px;
}

#update_tx_form .form-grp {
	overflow-y: auto;
	margin-bottom: 7px; }

#update_tx_form .form-grp .tooltip-hidden {
	display: none; }

#update_tx_form .form-grp [disabled] {
	background-color: #aaaaaa; }

#update_tx_form .form-grp .form {
	margin: 0 12px 15px 0;
	border: 1px solid #CCC; }

#update_tx_form .form-grp .form .form-header {
	font-size: 16px;
	margin: 0;
	padding: 7px;
	font-weight: bold;
	background-color: #F2F5F8; }

#update_tx_form .form-grp .form .form-header .title {
	display: inline-block;
	vertical-align: top;
	min-width: 40%; }

#update_tx_form .form-grp .form .form-header .form-tooltip {
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 0.75em;
	color: #cc0200; }

#update_tx_form .form-grp .form table {
	width: 100%; }

#update_tx_form .form-grp .form table th, #update_tx_form .form-grp .form table td {
	padding: 3px 7px;
	border-top: 1px solid #CCC;
	font-size: 12px; }

#update_tx_form .form-grp .form table th {
	background-color: #fafafa;
	border-right: 1px solid #CCC;
	font-size: 13px;
	width: 25%; }

#update_tx_form .form-grp .form table th.th-btngrp {
	width: 15%; }

#update_tx_form .form-grp .form table input, #update_tx_form .form-grp .form table select, #update_tx_form .form-grp .form table textarea {
	margin: 3px; }

#update_tx_form .form-grp .form table label {
	margin-bottom: 0;
	font-weight: 400; }

#update_tx_form .form-grp .form table textarea {
	min-width: 90%;
	min-height: 40px;
	resize: none; }

#update_tx_form .form-grp .form table.table-comment th {
	display: none; }

#update_tx_form .form-grp .form table.table-comment textarea.comment {
	width: 99%;
	background-color: #FEFDF7;
	padding: 2px 0 0 3px;
	text-indent: 0; }

#update_tx_form .form-grp .form select {
	width: 100%; }

#update_tx_form .form-grp .form table.form-type-normal th {
	font-weight: 400; }

#update_tx_form .form-grp .form table.form-type-list th, #update_tx_form .form-grp .form table.form-type-list td, #update_tx_form .form-grp .form table.form-type-fixed th, #update_tx_form .form-grp .form table.form-type-fixed td {
	text-align: center; }

#update_tx_form .form-grp .form table.form-type-list th, #update_tx_form .form-grp .form table.form-type-fixed th {
	height: 30px; }

#update_tx_form .form-grp .form table.form-type-list td, #update_tx_form .form-grp .form table.form-type-fixed td {
	border-right: 1px solid #CCC; }

#update_tx_form .form-grp .form table.form-type-list th:last-child, #update_tx_form .form-grp .form table.form-type-list td:last-child, #update_tx_form .form-grp .form table.form-type-fixed th:last-child, #update_tx_form .form-grp .form table.form-type-fixed td:last-child {
	border-right: none; }

#update_tx_form .form-grp .form table.form-type-list input[type=text] {
	width: 100%;
	margin: 3px 0; }

#update_tx_form .form-grp .form table.form-type-list input.year {
	width: 50px;
	padding: 8px;
	margin-right: 0px !important; }

#update_tx_form .form-grp .form table.form-type-list input.month {
	width: 40px;
	padding: 8px;
	margin: 0px !important; }

#update_tx_form .form-grp .form table.form-type-list input.day {
	width: 40px;
	padding: 8px;
	margin-left: 0px !important; }

#update_tx_form .form-grp .form table.form-type-list input.hour {
	width: 40px;
	padding: 8px;
	margin-left: 8px !important; }

#update_tx_form .form-grp .form table.form-type-list input.minute {
	width: 40px;
	padding: 8px;
	margin-left: 0px !important; }

#update_tx_form .form-grp .form table .required:before {
	content: '*';
	color: #cc0200;
	margin-right: 3px; }

#update_tx_form .form-grp .btn {
	padding: 5px 8px;
	border-radius: 3px; }

#update_tx_form .form-grp .btn label {
	margin-bottom: 0; }

#update_tx_form .form-grp .btn.active {
	background-color: #2f5cb1;
	border: 1px solid #234068; }

#update_tx_form .form-grp .btn.active label {
	color: #fff; }

#update_tx_form .form-grp .btn label {
	cursor: pointer; }


#update_tx_form > table {
	display: none;
}

.diff-table {
	width: calc(100% - 12px);
	text-align: center;;
	margin-bottom: 20px;
}
.diff-table th,
.diff-table td {
	border: 1px solid #ccc;
}
.diff-table th:nth-child(1) {
	width: 40%;
}
.diff-table th:nth-child(2) {
	width: 20%;
}
.diff-table th:nth-child(3) {
	width: 20%;
}
.diff-table th:nth-child(4) {
	width: 20%;
}
.diff-table thead{
	font-size: 16px;
	margin: 0;
	padding: 7px;
	font-weight: bold;
	background-color: #F2F5F8;
}
.diff-table thead{
	font-size: 16px;
	margin: 0;
	padding: 7px;
	font-weight: bold;
	background-color: #F2F5F8;
}
