<%define "import"%>
<title>FLETA | <%template "title" .%></title>
<!--begin::Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
<!--end::Fonts -->

<!--begin::Page Vendors Styles(used by this page) -->
<link href="/assets/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--end::Page Vendors Styles -->

<!--begin::Global Theme Styles(used by all pages) -->
<link href="/assets/css/vendors.bundle.css" rel="stylesheet" type="text/css">
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
<link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
<!--end::Global Theme Styles -->

<!--begin::Layout Skins(used by all pages) -->
<!--end::Layout Skins -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<script src="/assets/js/vendors.bundle.js"></script>
<script src="/assets/js/d3.v3.min.js"></script>
<script src="/assets/js/transaction_chart.js"></script>

<link rel="shortcut icon" href="https://explorer.fleta.io/resource/images/favicon.ico">

<style>
#kt_body {
	display: none;
}
</style>
<%end%>

<%define "style"%><%end%>
<%define "title"%>Explorer<%end%>

<%define "mobile_top"%>
<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
	<div class="kt-header-mobile__logo">
		<a href="/">
			<img alt="Logo" src="/assets/images/fleta/main_m_logo.png">
		</a>
	</div>
	<div class="kt-header-mobile__toolbar">
		<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
	</div>
</div>
<!-- end:: Header Mobile -->
<%end%>

<%define "top"%>
<!-- begin:: Header -->
<div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
	<div class="kt-container  kt-container--fluid ">
		<!-- begin: Header Menu -->
		<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
		<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
			<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
				<ul class="kt-menu__nav ">
				<li class="kt-menu__item"><a href="/" class="kt-menu__link"><span class="kt-menu__link-text">Home</span></a></li>
				<li class="kt-menu__item"><a href="/logout" class="kt-menu__link"><span class="kt-menu__link-text">Logout</span></a></li>
				</ul>
			</div>
		</div>
		<!-- end: Header Menu -->
		<!-- begin:: Brand -->
		<div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
			<a class="kt-header__brand-logo" href="/">
				<img alt="Logo" src="/assets/images/fleta/main_logo.png">
			</a>
		</div>
		<!-- end:: Brand -->
		<!-- begin:: Header Topbar -->
		<div class="kt-header__topbar kt-grid__item">
		</div>
		<!-- end:: Header Topbar -->
	</div>
</div>
<!-- end:: Header -->
<script>
$(function() {
	var path = location.href.substr((location.protocol+"//"+location.host).length).split("?")[0];
	console.log(path);
	$("[href='"+path+"']").parent().addClass("kt-menu__item--here");
	$("#kt_body").show();
});
</script>
<%end%>

<%define "search_top"%>
<!-- begin:: Content Head -->
<style>
	.top_search_area {
		position: relative;
	}
	.search_result{
		width: 400px;
		background-color: #f0f;
		max-height: 100px;
		overflow: auto;
		position:absolute;
		z-index: 10;
		display: block;
	}
</style>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-container ">
		<div class="kt-subheader__main" v-root-container>
			<top-search>
				<div class="top_search_area">
					<div class="kt-input-icon kt-input-icon--right kt-subheader__search">
						<input type="text" class="form-control" placeholder="Search order..." id="generalSearch" v-on:keydown="keydown" v-model="search_keyword">
						<span class="kt-input-icon__icon kt-input-icon__icon--right">
							<span><i class="flaticon2-search-1"></i></span>
						</span>
					</div>
					<div class="search_result" v-if="search_list">
						<ul>
							<li v-for="item in search_list">{{item}}</li>
						</ul>
					</div>
				</div>
				<!-- <script>t={ -->
				<script type="vue">
					data: function() {
						var obj = {
							search_keyword : null,
							search_list : null,
							interval_obj : null,
						};
						return obj;
					},
					methods: {
						search: function(e) {
							return
							if (this.search_keyword == "") {
								this.search_list = null;
								return;
							}
							this.$http.get("/api/datas/search?keyword="+this.search_keyword)
							.then(function(res) {
								this.search_list = this.search_keyword.split("")
							}, function(err) {
								this.search_list = this.search_keyword.split("")
							});
						},
						keydown: function(e) {
							if(e.keyCode == 13) {
								this.search()
								return
							}
							if(e.keyCode == 46) {
								clearTimeout(this.interval_obj)
								this.search_list = null;
								return;
							}
							clearTimeout(this.interval_obj)
							var This = this;
							this.interval_obj = setTimeout(function (){
								This.search()
							}, 500)
							console.log(e.keyCode)
						},
					}
				</script>
				<!-- }</script> -->
			</top-search>
		</div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
				<a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Select dashboard daterange">
					<span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today:</span>&nbsp;
					<span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">2019-09-06</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end:: Content Head -->
<%end%>

<%define "nav_top"%>
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-container ">
		<div class="kt-subheader__main"></div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
			</div>
		</div>
	</div>
</div>
<!-- end:: Content Head -->
<%end%>

<%define "bottom"%>
<!-- begin:: Footer -->
<!-- end:: Footer -->
<script src="/assets/js/jquery_cookie.min.js"></script>
<%end%>
